name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      terraform_destroy:
        description: 'Type "DESTROY" to confirm. This will delete infrastructure and cannot be undone.'
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  destroy:
    if: ${{ github.event.inputs.terraform_destroy == 'DESTROY' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Checkov (IaC scan)
        uses: bridgecrewio/checkov-action@master
        with:
          directory: ${{ vars.INFRA_PATH }}
          soft_fail: true

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Terraform destroy plan
        id: plan
        uses: dflook/terraform-plan@v2
        with:
          path: ${{ vars.INFRA_PATH }}
        # destroy: true
          target: |
             module.vpc
             module.alb
             module.ecs
             module.acm


      - name: Terraform apply (destroy)
        uses: dflook/terraform-apply@v2
        with:
          path: ${{ vars.INFRA_PATH }}
          plan_path: ${{ steps.plan.outputs.plan_path }}
          auto_approve: true